
        p {
            
            font-family: Arial, Helvetica, sans-serif;
            text-shadow: 0 0 3px white;
            
        }
        ::selection
 {
            background-color: rgb(255, 202, 28);
            color: rgb(0, 0, 0);
        }
        
        h1 {
            font-family: Arial, Helvetica, sans-serif;
        }
        h2 {
            font-family: Arial, Helvetica, sans-serif;
        }
        h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body {
            
            background-color: #fefae031;
            background-image: url("https://cdn.hackclub.com/019eba81-597a-7910-8f11-101af9f625a7/Untitled%20design%20(23).png");
            color: black;
        }

        .main {
            margin-left: 11%;
            margin-right: 11%;
        }

        img {
            width: 50%

        }
        section {
            margin-bottom: 40px;
        }
        .intro{
            margin-top: 60px;
            margin-bottom: 50px;
        }
        .intro p {
            font-size: medium;
            line-height: 1.7;
        }

        .get {
            display: flex;


            gap: 40px;
        }
        .get img {
            border-radius: 12px;
        }
        .get > div {
            display: flex;


            flex-direction: column;
            gap: 20px;
        }
        section .proj {
            display: flex;


            gap: 20px;
          
        }
        section {
            display: flex;


            flex-direction: column;
            gap: 30px;
        }
        section .proj div {
            border: 1px solid rgb(0, 0, 0);
            border-radius: 12px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 40px;
            flex: 1;
            
        }
        section .p1 {
            border: 1px solid black;
            border-radius: 12px;
            padding: 20px;
            padding-left: 50px;
            padding-right: 40px;
            
        }
        .text p {
        margin: 0;
        line-height: 1.3;
        }
        .jj:hover {
            background-image: url(https://thfvnext.bing.com/th/id/OIP.3X-TtiEjXbiLZa1f21ilnAHaEK);
            color: black;
            box-shadow : 10px 10px 10px white;
            transform : translateY(-10px) scale(1.05);
            

        }
        .jj:active{
            transition: 0.08s;
            scale: 0.95;
            transform: translateY(10pX);
            
        }
        .jj {
            transition: 0.3s;
            background-color: #fefae031;
            background-image: url("https://cdn.hackclub.com/019ebaf3-611e-7d12-9ce7-a0cd37fed06a/Untitled%20design%20(25).png");
            color: black;
            line-height: 1.3;
            cursor:default;
        }
        .n a{
            -webkit-text-fill-color: black;
            background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eece2091-6cec-4353-847a-e06a64df4de2/dg5b1yv-534abec1-250c-4bf5-9987-ca18fbcef660.jpg/v1/fill/w_1280,h_1280,q_75,strp/aesthetic_background_with_soft_color_pattern__by_zeecobywilanda_dg5b1yv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiIvZi9lZWNlMjA5MS02Y2VjLTQzNTMtODQ3YS1lMDZhNjRkZjRkZTIvZGc1YjF5di01MzRhYmVjMS0yNTBjLTRiZjUtOTk4Ny1jYTE4ZmJjZWY2NjAuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.vWFNUvB-KMDzHu06VouRUzQFm72Q08Inxc36LI3zuaQ");
            border-radius: 20px;
            transition: 0.3s;
            padding-left: 17px;
            padding-right: 17px;
            width: fit-content;
            display: inline-block;
        }

        .n a:hover{
            transform: scale(1.05)
            translatey(-7px);
            background-image: url(https://img.magnific.com/free-vector/abstract-background-with-hand-drawn-wavy-line-design_1048-21173.jpg?semt=ais_hybrid&w=740&q=80);
        }
        a:active{
            transform: scale(0.95) translateY(3px);
        }
        .n a {
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eece2091-6cec-4353-847a-e06a64df4de2/dg5b1yv-534abec1-250c-4bf5-9987-ca18fbcef660.jpg/v1/fill/w_1280,h_1280,q_75,strp/aesthetic_background_with_soft_color_pattern__by_zeecobywilanda_dg5b1yv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiIvZi9lZWNlMjA5MS02Y2VjLTQzNTMtODQ3YS1lMDZhNjRkZjRkZTIvZGc1YjF5di01MzRhYmVjMS0yNTBjLTRiZjUtOTk4Ny1jYTE4ZmJjZWY2NjAuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.vWFNUvB-KMDzHu06VouRUzQFm72Q08Inxc36LI3zuaQ);
        }
        .gith {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            padding: 10px;
            transition: 0.3s ease;
        }
        .gith img {
            width: 30px;
            height: 30px;
            display: block;
        }
        
        .gith:hover {
            
            transform: scale(1.10) translateY(-5px);
        }

        .gith:active {
            transition: 0.1s;
            transform: scale(0.95) translateY(5px);
            
        }

        .think {
            display: flex;
            

            flex-direction: row;
            gap: 10px;
        }
        .gapbtwtxtandbut {
            display: flex;
            

            flex-direction: column;
            gap: 20px;
        }
        
        nav {
            display: flex;
            

            gap: 20px;
            justify-content: right;
            margin-right: 7%;
            
          
        }
        nav a {
            text-decoration: 0;
            color: black;
            margin-top: 13px;
            font-family: Arial, Helvetica, sans-serif;
            transition: 0.2s;
            border-bottom: 2px solid transparent;
        }

        nav a:hover {
            border-bottom-color: black;
        }

        nav a:active {
            transform: none;
        }

        .timeline {
            gap: 0px;
        }

        .timeline h2 {
            margin-bottom: 6px;
        }

        li {
            margin-left: 2%;
            
        }

        .link {
            color: rgb(255, 66, 8);
        }

        .timeline img {
            width: 230px;
            height: 180px;
            border-radius: 12px;
            object-fit: cover;
        

        }

        .vid {
            height: 180px;
            border-radius: 12px;
            object-fit: cover;
        }

        .gro {
            display: flex;
            gap: 18px;
            overflow-y: auto;
            padding-bottom: 15px;
        }

         .goo {
            display: flex;
            gap: 18px;
            overflow-y: auto;
            padding-bottom: 15px;
        }


        #img1 {
            width: fit-content;
        
        }

        .wr {
            overflow-y: auto;
        }

        ul {
            line-height: 1.9;
        }

        li {
            margin-bottom: 30px;
        }


        @media (max-width:1179px){
            .get{
                flex-direction: column;
            }
            .get img {
                width: 100%;
            }
            .proj{
                flex-direction: column;
            }
        }

        @media (max-width:516px){
            ul {padding-inline-start: 0px;}
        }
        #updated {
            color: rgb(65, 65, 65);
            text-align: right;
            font-style: italic;
        }

    